@import mixin
@import style

.header
    &__location_bar
        height: 50px
        background-color: #EAEAEA
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 17px
        color: #353535
        font-size: 16px
        font-weight: 500

.reservation
    background-color: #F6F6F6
    text-align: center
    padding: 39px 34px 72px
    &__title_section
        @include section_title_index
        margin-bottom: 18px
    &__paragraphe
        font-size: 18px
        font-weight: 300
        margin-bottom: 27px
    &__button
        @include btn(218px)
    &__button:hover
        @include btn-hover

.feature
    padding: 48px 20px 68px 32px
    &__center
        margin: auto
        max-width: 323.51px
    &__grid
        display: flex
        flex-direction: column
        gap: 24.92px
    &__title
        margin-bottom: 25px
        @include section_title_index
    &__card
        // width: 100%
        background-color: #F6F6F6
        display: flex
        flex-direction: row
        align-items: center
        gap: 27px
        position: relative
        height: 72.379px
        border-radius: 20px
        padding-left: 34px
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
        &--number
            font-size: 14.182px
            color: white
            background-color: #9356DC
            display: flex
            justify-content: center
            align-items: center
            width: 24px
            height: 24px
            position: absolute
            left: -12px
            border-radius: 50%
        &--emote
            color: #7E7E7E
            font-size: 20px
        .fa-store
            color: #9356DC
        &--title
            font-size: 16px
            font-weight: 500

.restaurant
    background-color: #F6F6F6
    padding: 54px 17px 66px
    &__title
        margin-bottom: 28px
        @include section_title_index
    &__center
        margin: auto
        max-width: 490px
        &--grid
            display: flex
            flex-direction: column
            gap: 18px
    &__card
        background-color: white
        border-radius: 15px
        width: 100%
        display: flex
        flex-direction: column
        &--new
            font-weight: 500
            text-align: center
            padding: 7px
            color: #008766
            background-color: #99E2D0
            border-radius: 2px
            margin: 12px
            width: 80px
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
            position: absolute
            align-self: flex-end
        &--img
            height: 231px
            width: 100%
            border-radius: 20px 20px 0 0
            &_menu_1
                object-position: bottom
            &_menu_2
                object-position: 50% 60%
            &_menu_3
                object-position: bottom
            &_menu_4
                object-position: bottom
        &--bottom
            display: flex
            flex-direction: row
            align-items: center
            padding-right: 25px
            &__link
                width: 100%
        &--text
            display: flex
            flex-direction: column
            gap: 5px
            padding: 16px 0 16px 13px
        &--title
            font-size: 18px
            font-weight: 700
        &--location
            font-size: 17px
            font-weight: 300

.loader
    position: fixed
    background: white
    height: 100%
    width: 100%
    z-index: 10
    display: flex
    justify-content: center
    align-items: center
    animation: background_loading 2.2s forwards
    &__img
        position: absolute
        top: 50%
        animation: loading 2s forwards

@keyframes loading
    0%
        opacity: 0
    25%
        opacity: 0.60
    50%
        opacity: 0.30
    75%
        opacity: 0.60
        top: 50%
    100%
        opacity: 1
        opacity: 0
        top: 10%

@keyframes background_loading
    80%
        opacity: 1
    99%
        opacity: 0
        z-index: 10
    100%
        z-index: -1
        opacity: 0
        
@media (min-width: 765px)
    .reservation
        padding: 30px 30px 45px
        &__title_section
            font-size: 40px
    
    .feature
        padding: 50px
        &__grid
            flex-direction: row
            gap: 36.51px
            padding: 0 12px 
        &__center
            max-width: 1080px
        &__card
            width: 100%

    .restaurant
        padding: 30px 50px
        &__center
            max-width: 1080px
            &--grid
                display: grid
                grid-template-columns: repeat(2, 1fr)
                gap: 30px
                transition: gap 1s

@media (min-width: 1435px)
    .restaurant
        &__center
            &--grid
                gap: 50px 100px
