.reservation__button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.reservation__button:hover .overlay-btn {
  background-color: rgba(255, 255, 255, 0.25);
}

.reservation__button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.reservation__button:hover .overlay-btn {
  background-color: rgba(255, 255, 255, 0.25);
}

* {
  margin: 0;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  text-align: center;
  width: 18px;
}

body {
  background-color: #FFFFFF;
}

.header__navbar {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__navbar--img {
  width: 162px;
}

.footer {
  color: white;
  background-color: #353535;
  font-size: 16px;
  font-weight: 400;
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 16px;
  padding: 22px 25px;
}
.footer__title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand";
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 7px;
}
.footer__menu--link-icon {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  gap: 11px;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto";
}

.restaurant__like {
  width: 22px;
  height: 21px;
  max-width: none;
  position: relative;
}
.restaurant__like--input {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 6;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none;
  opacity: 0;
}
.restaurant__like--svg-false {
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s;
}
.restaurant__like--svg-true {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
}
.restaurant__like--input:checked ~ .restaurant__like--svg-false {
  opacity: 0;
}
.restaurant__like--input:checked ~ .restaurant__like--svg-true {
  opacity: 1;
}

@media (min-width: 1020px) {
  i {
    width: auto;
  }
  .header__navbar {
    height: 96px;
    box-shadow: none;
  }
  .header__navbar--img {
    width: 200px;
  }
  .footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: normal;
    align-items: flex-end;
    gap: normal;
    padding: 30px 25px;
  }
  .footer__title {
    width: 138px;
  }
  .footer__menu {
    flex-direction: row;
  }
  .footer__menu--link {
    width: 130px;
  }
  .footer__menu--link-icon {
    width: 190px;
  }
}
.header__location_bar {
  height: 50px;
  color: #353535;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto";
}

.reservation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 39px 34px 72px;
}
.reservation__title_section {
  font-size: 24px;
  font-weight: 700;
  font-family: "roboto";
  margin-bottom: 18px;
}
.reservation__paragraphe {
  font-size: 18px;
  font-weight: 300;
  font-family: "roboto";
  margin-bottom: 27px;
}
.reservation__button {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto";
  transition: box-shadow 0.2s;
  overflow: hidden;
  padding: 0;
}
.reservation__button .overlay-btn {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0);
}
.feature {
  padding: 48px 20px 68px 32px;
}
.feature__center {
  margin: auto;
  max-width: 323.51px;
}
.feature__grid {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 24.92px;
}
.feature__title {
  font-size: 24px;
  font-weight: 700;
  font-family: "roboto";
  margin-bottom: 25px;
}
.feature__card {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 27px;
  height: 72.379px;
  position: relative;
  border-radius: 20px;
  padding-left: 34px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.feature__card--number {
  font-size: 14.182px;
  font-weight: 500;
  font-family: "roboto";
  color: white;
  background-color: #9356DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  position: absolute;
  width: auto;
  height: auto;
  z-index: auto;
  top: auto;
  bottom: auto;
  left: -12px;
  right: auto;
  max-width: none;
  width: 24px;
  height: 24px;
  max-width: none;
  border-radius: 50%;
}
.feature__card--emote {
  color: #7E7E7E;
  font-size: 20px;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
.feature__card .fa-store {
  color: #9356DC;
}
.feature__card--title {
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto";
}

.restaurant {
  background-color: #F6F6F6;
  padding: 54px 17px 66px;
}
.restaurant__title {
  font-size: 24px;
  font-weight: 700;
  font-family: "roboto";
  margin-bottom: 28px;
}
.restaurant__center {
  margin: auto;
  max-width: 490px;
}
.restaurant__center--grid {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 18px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: normal;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 100%;
}
.restaurant__card--new {
  font-size: 14px;
  font-weight: 500;
  font-family: "roboto";
  color: #008766;
  background-color: #99E2D0;
  text-align: center;
  padding: 7px;
  border-radius: 2px;
  margin: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 80px;
  align-self: flex-end;
}
.restaurant__card--img {
  width: 100%;
  height: 231px;
  max-width: none;
  border-radius: 15px 15px 0 0;
}
.restaurant__card--img_menu_1 {
  object-position: bottom;
}
.restaurant__card--img_menu_2 {
  object-position: 50% 60%;
}
.restaurant__card--img_menu_3 {
  object-position: bottom;
}
.restaurant__card--img_menu_4 {
  object-position: bottom;
}
.restaurant__card--bottom {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: normal;
  padding-right: 25px;
}
.restaurant__card--bottom__link {
  width: 100%;
}
.restaurant__card--text {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 5px;
  padding: 16px 0 16px 13px;
}
.restaurant__card--title {
  font-size: 18px;
  font-weight: 700;
  font-family: "roboto";
}
.restaurant__card--location {
  font-size: 17px;
  font-weight: 300;
  font-family: "roboto";
}

.loader {
  position: fixed;
  width: auto;
  height: auto;
  z-index: 10;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  max-width: none;
  width: 100%;
  height: 100%;
  max-width: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  background-color: #FFFFFF;
  animation: background_loading 2.2s forwards;
}
.loader__img {
  position: absolute;
  width: auto;
  height: auto;
  z-index: auto;
  top: 50%;
  bottom: auto;
  left: auto;
  right: auto;
  max-width: none;
  animation: loading 2s forwards;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.6;
    top: 50%;
  }
  100% {
    opacity: 1;
    top: 10%;
  }
}
@keyframes background_loading {
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@media (min-width: 765px) {
  .reservation {
    padding: 30px 30px 45px;
  }
  .reservation__title_section {
    font-size: 40px;
    font-weight: 700;
    font-family: "roboto";
  }
  .feature {
    padding: 50px;
  }
  .feature__grid {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 36.51px;
    padding: 0 12px;
  }
  .feature__center {
    max-width: 1080px;
  }
  .feature__card {
    width: 100%;
  }
  .restaurant {
    padding: 30px 50px;
  }
  .restaurant__center {
    max-width: 1080px;
  }
  .restaurant__center--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    transition: gap 1s;
  }
}
@media (min-width: 1435px) {
  .restaurant__center--grid {
    gap: 50px 100px;
  }
}

/*# sourceMappingURL=index.css.map */
